body {
  background-color: #F9F5F6;
}

header {
  background-color: #F8E8EE;
  color: #FDCEDF;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #FDCEDF;
  text-decoration: none;
}

main {
  background-color: #F2BED1;
  color: #000;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #F8E8EE;
  color: #FDCEDF;
  padding: 10px;
  text-align: center;
}

/* Add more CSS styles as needed */
