body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

#left-tab {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px;
    width: 20vw;
    min-width: 200px;
    opacity: 0; /* Initially hide the tab */
    transition: opacity 2s, filter 2s; /* Transition effect for fading in and blurring */
    filter: blur(10px); /* Initially blur the tab */
}

#left-tab h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center the icon vertically */
}

#left-tab h1 .icon {
    width: 30px; /* Adjust the width of the icon */
    height: 30px; /* Adjust the height of the icon */
    background-size: cover; /* Ensure the image covers the entire area of the icon */
    margin-right: 10px; /* Adjust the spacing between the icon and the text */
    border-radius: 50%; /* Make the icon round */
}

#social-links {
    display: flex;
    flex-direction: column;
}

.social-link {
    margin-bottom: 10px;
}

.social-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2d8d8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.social-link a:hover {
    background-color: #82c7c7;
}

.social-link i {
    margin-right: 10px;
}

#right-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#right-background img {
    width: auto;
    height: 100%;
}

#clock {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 32px;
    padding: 60px;
    color: black;
}

/* New styles for mobile screens */
@media (max-width: 768px) {
    #left-tab {
        width: 80%; /* Adjust the width of the tab */
        min-width: 0;
        max-width: 300px; /* Adjust the maximum width of the tab */
        position: absolute; /* Position the tab absolutely */
        top: 50%; /* Center the tab vertically */
        left: 50%; /* Center the tab horizontally */
        transform: translate(-50%, -50%); /* Offset the tab by half its width and height to truly center it */
        border-radius: 20px; /* Increase the border radius to make it look more like a bubble */
    }
  
    #clock {
        display: none; /* Hide the clock on mobile screens */
    }

    #right-background {
        position: absolute;
        top: 0;
        height: 100vh; /* Set the height to 100% of the viewport height */
        overflow: hidden; /* Hide any excess */
    }
}
